# 03/05 - Pair Programming Limpieza 1 - Guadalupe & Lara

In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("union_ataques.csv", index_col = 0)
df.head(2)

df2 = df.copy()

In [38]:
columnas = {col : col.replace(" ", "_").lower() for col in df2.columns}

df2.rename(columns = columnas, inplace = True)

df2.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,...,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,...,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,N,Minor injury to left thigh,18-Jun-2018

In [39]:
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23', 'fatal_(y/n)', 'injury', 'date'],
      dtype='object')

In [40]:
df2.drop(["href", "unnamed:_22", "unnamed:_23", "case_number.1", "case_number.2", "original_order", "investigator_or_source", "pdf", "href_formula"], axis = 1, inplace = True)

Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso vamos tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

# Ejercicio 1

¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndolos.

In [41]:
filas_duplicadas = df2.duplicated().sum()
filas_duplicadas

0

No tenemos valores duplicados en nuestro dataframe. ‚úåÔ∏è 

En caso de que quisi√©ramos eliminar alg√∫n registro duplicado utilizar√≠amos df.drop.duplicates(subsets = ["lista_columnas"])

# Ejercicio 2
Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [42]:
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

In [43]:
#Cambiamos "year" a tipo de dato fecha mediante astype
df2["year"].astype("datetime64", errors = "ignore", copy = True)
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

In [44]:
#Cambiamos a tipo fecha con el m√©todo "to_datetime" y sigue siendo "float64"
pd.to_datetime(df2["year"])
df2.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
sex_            object
age             object
time            object
species_        object
fatal_(y/n)     object
injury          object
date            object
dtype: object

üë©üèΩ‚Äçü¶∞üë©üèΩ‚Äçü¶±üí¨      

**Cambiamos "year" a tipo int como en la teor√≠a**
- Nos quedamos con esta versi√≥n que creemos que es la correcta y que muestra el a√±o como un int (esto puede facilitar hacer operaciones)

In [45]:
df2["year"] = df2["year"].astype('Int64', errors = "ignore") 
df2.dtypes

case_number    object
year            Int64
type           object
country        object
area           object
location       object
activity       object
name           object
sex_           object
age            object
time           object
species_       object
fatal_(y/n)    object
injury         object
date           object
dtype: object

# Ejercicio 3
En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [46]:
df2["country"].dtypes

dtype('O')

In [47]:
df2["country"].isna().sum()

54

Como en la celda anterior hemos comprobado que hay NaN, nuestra funci√≥n llevar√° un try/except para evitar el error por NaN:

In [48]:
def minusculizator (columna):
    try:
        columna = columna.lower()
    except:
        pass
    return columna

In [49]:
df2["country"] = df2["country"].apply(minusculizator)

df2["country"]

0                      usa
1                      usa
2                      usa
3                australia
4                   mexico
               ...
6283    ceylon (sri lanka)
6284                   NaN
6285                   NaN
6286                   NaN
6287                   NaN
Name: country, Length: 6288, dtype: object

# Ejercicio 4
Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [51]:
df2.to_csv("1.ataques.csv")