# 11/05 - Pair Programming Limpieza 5 - Guadalupe & Lara

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
df = pd.read_csv("4.Ataques_enproceso_4.csv", index_col = 0)

1- **Es el momento de eliminar los nulos:**

-*Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo SimpleImputer.*

In [2]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [3]:
imputer = imputer.fit(df[['age2']])

In [4]:
df['age_mean'] = imputer.transform(df[['age2']])

In [5]:
df.isnull().sum()

case_number       1
year              4
type              0
country           0
area            458
location        543
activity        546
name            213
sex_            568
age            2824
time           3344
species_          0
fatal_(y/n)       0
injury           30
date              0
age2              0
age2_fillna    6288
age_mean          0
dtype: int64

-*Reemplazad los valores nulos de la columna sex por la moda, usando el m√©todo SimpleImputer.*

üí° ** Pista** üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [6]:
imputer2 = SimpleImputer(strategy='most_frequent', missing_values=np.nan)

In [7]:
imputer2 = imputer2.fit(df[['sex_']])

In [8]:
df['sex_moda'] = imputer2.transform(df[['sex_']])

In [9]:
df['sex_'].value_counts()

M      5080
F       634
M         2
N         2
lli       1
.         1
Name: sex_, dtype: int64

In [10]:
df['sex_moda'].value_counts()

M      5648
F       634
M         2
N         2
lli       1
.         1
Name: sex_moda, dtype: int64

Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda) con el m√©todo SimpleImputer.*

In [11]:
imputer3 = imputer2.fit(df[['type']])
df['type_moda'] = imputer3.transform(df[['type']])

-*Utilizad el m√©todo KNN Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.*

-*Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.*

-*¬øPodr√≠ais explicar que diferencia hay entre estos dos √∫ltimos m√©todos?*

Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [12]:
numericas = df.select_dtypes(include = np.number)
numericas.isnull().sum()

year              4
age2              0
age2_fillna    6288
age_mean          0
dtype: int64

In [13]:
imputerKNN = KNNImputer(n_neighbors=5)
imputerKNN.fit(numericas)
numericas_knn= imputerKNN.transform(numericas)

In [ ]:
df_knn_imputer = pd.DataFrame(numericas_knn)
df_knn_imputer.head()

        0          1          2
0  2018.0  57.000000  57.000000
1  2018.0  11.000000  11.000000
2  2018.0  48.000000  48.000000
3  2018.0  26.473742  26.473742
4  2018.0  26.473742  26.473742

In [ ]:
# df_knn_imputer = pd.DataFrame(numericas_knn, columns = ['yearknn', 'age2knn', 'age2fillnaknn', 'age_meanknn']) Solo nos coge 3 columnas, no 4, por eso da error.
df_knn_imputer = pd.DataFrame(numericas_knn, columns = ['yearknn', 'age2knn', 'age_meanknn'])
df_knn_imputer.head()

   yearknn    age2knn  age_meanknn
0   2018.0  57.000000    57.000000
1   2018.0  11.000000    11.000000
2   2018.0  48.000000    48.000000
3   2018.0  26.473742    26.473742
4   2018.0  26.473742    26.473742

Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair

In [ ]:
df.to_csv("5.Ataques_enproceso_5.csv")